body {
  font-size: 40px;
}
li:first-child {
    color:red;
    font-weight:bold;
}

li:last-child {
    color:purple;
    font-weight:bold;
}

li:nth-child(4n+2) {
    color:pink;
    font-weight:bold;
}

li:nth-child(even) {
    background:yellow;
}

li:nth-child(odd) {
    background: grey;
}

article:only-child {
    color: green;
    font-weight:bold;
}

article:nth-child(2) {
    background-color: blue;
}
