body {
  background-color: #1f3c88;
}

.h1 {
  color: blue;
}

.h2 {
  color:red;
}
section {
  width: 50%;
  border: 10px solid black;
  height: 50%;
  margin: 0 auto;
  background-color: green;
}

img {
  border-radius: 50%;
  border: 5px solid gold;
  margin: 20px auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
